<div class="page-content">
  <h1 class="green"><%= @year.year_number %></h1>
  <h3><%= link_to "Edit", edit_year_path(@year), class: "green" %></h3>
  <h3 class="spacing-below"><%= link_to "Back to home", root_path, class: "green" %></h3>
  <%= button_to "Delete this year", year_path(@year), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-danger spacing-below" %>
  
  <h3><%= link_to "Add a type of crop", new_year_crop_type_path(@year), class: "green spacing-below" %></h3>
  <% @crop_types.each do |crop_type| %>
    <h3 class="green"><%= crop_type.name %></h3>
  <% end %>
</div>
